.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  padding: 0.5em 1em 0.1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #09d3ac;
  font-size: 24px;
}

.App-theme-dark {
  position: relative;
  background-color: #282c34;
  color: white;
  display: flex;
  min-height: 90vh;
  padding-top: 80px;

}

.App-theme-light {
  position: relative;
  background-color: lightcyan;
  color: #282c34;
  display: flex;
  min-height: 100vh;
  padding-top: 80px;

}


/* Index Page styles*/
.team-member-picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: scale-down;
  border-width: 0.01cm;
  border-style: ridge;

}

.bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

/* navbar styles*/
nav li .navbarStyle {
  padding: 0.5em 1em 0.1em 1em;
}

/* Footer styles */
.footer {
  border-top-width: 1vh;
  border-top-style: solid;
  position: relative;
  background-color: #282c34;
  padding: 2vh 2vh 2vh 2vh;
  padding-left: 50px;
}
a .social{
  
}

/* Blog page styles*/

ul {
  border-left-width: 0.01cm;
  border-left-style: ridge;
}

.sidebar{
  border-right-width: 1vh;
  border-right-style: solid;
  border-color: hsl(240, 9%, 17%);
 
}

.sidebar a:hover {
  color: #f1f1f1;
}



.sidenav a:hover {
  color: #f1f1f1;
}
.sidebarButtom{
  display:none;
  cursor:pointer;
}

/*blog*/

.blog-title{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.blog-content{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0.1cm;
  padding-left: 0.4cm;
}

.blog-subcontent{
  font-style: italic;
}

code {
  color: white;
}


/* mobile style */

@media (max-width: 600px) {
  .App-theme-dark {
  /* background-color: lightblue; */
  padding-top: 110px;
  }
  .blog-content{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0.1cm;
    padding-left: 1cm;
  }
  .sidebar{
    
    display: inline-flex;
  
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255, 184, 184, 0.2);
    overflow-x: hidden;
    transition: 0.5s;

  }
  .sidebar:hover{
    height: 100%;
    width: 50%;
    padding-top: 1.5cm;
    background-color: #282c34;
  }

  .sidebarButtom{
    
    display: grid;
    /* cursor:pointer; */
    width: 0.02cm;
    -moz-background-inline-policy: continuous;
  }
 
 
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

}