.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  padding: 0.5em 1em 0.1em 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #09d3ac;
  font-size: 24px;
}

.App-theme-dark {
  position: relative;
  background-color: #282c34;
  color: white;
  display: flex;
  min-height: 90vh;
  padding-top: 80px;

}

.App-theme-light {
  position: relative;
  background-color: lightcyan;
  color: #282c34;
  display: flex;
  min-height: 100vh;
  padding-top: 80px;

}


/* Index Page styles*/
.team-member-picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: scale-down;
  border-width: 0.01cm;
  border-style: ridge;

}

.bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

/* navbar styles*/
nav li .navbarStyle {
  padding: 0.5em 1em 0.1em 1em;
}

/* Footer styles */
.footer {
  border-top-width: 1vh;
  border-top-style: solid;
  position: relative;
  background-color: #282c34;
  padding: 2vh 2vh 2vh 2vh;
}

/* Blog page styles*/

ul {
  border-left-width: 0.01cm;
  border-left-style: ridge;
}

.left-nav{
  border-right-width: 1vh;
  border-right-style: solid;
  border-color: hsl(240, 9%, 17%);
 
}
.blog-title{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.blog-content{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0.1cm;
  padding-left: 0.1cm;
}

.blog-subcontent{
  font-style: italic;
}



/* mobile style */

@media (max-width: 600px) {
  .App-theme-dark {
  /* background-color: lightblue; */
  padding-top: 110px;
  }
}